*.apk
*.ap_

*.dex
*.class
*.hprof

bin/
gen/
out/

.gradle/
build/
schema/
schemas/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/
.idea/workspace.xml
.idea/libraries
.idea/vcs.xml
.idea/misc.xml

*.externalNativeBuild

output/
.DS_Store
.history
.cxx/